#!/bin/sh

UCP_ADMIN_USERNAME=$1
UCP_ADMIN_PASSWORD=$2

REGION={{ aws_region|quote }}
S3_BUCKET_NAME={{ dtr_s3_id|quote }}
DTR_ELB_HOSTNAME={{ dtr_external_fqdn|quote }}

/bin/curl --write-out '%{http_code}' -k -u "$UCP_ADMIN_USERNAME":"$UCP_ADMIN_PASSWORD" -X PUT "https://$DTR_ELB_HOSTNAME/api/v0/admin/settings/registry/simple" -H 'content-type: application/json' -d "{\"storage\":{\"delete\":{\"enabled\":true},\"maintenance\":{\"readonly\":{\"enabled\":false}},\"s3\":{\"rootdirectory\":\"\",\"region\":\"$REGION\",\"regionendpoint\":\"\",\"bucket\":\"$S3_BUCKET_NAME\",\"secure\": true}}}"
exit $?
