[docker-ee-stable-17.03]
name=Docker EE Stable 17.03 - $basearch
baseurl=$dockerurl/7/$basearch/stable-17.03/
enabled=1
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-stable-17.03-debuginfo]
name=Docker EE Stable 17.03 - Debuginfo $basearch
baseurl=$dockerurl/7/debug-$basearch/stable-17.03/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-stable-17.03-source]
name=Docker EE Stable 17.03 - Sources
baseurl=$dockerurl/7/source/stable-17.03/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-stable]
name=Docker EE Stable - $basearch
baseurl=$dockerurl/7/$basearch/stable/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-stable-debuginfo]
name=Docker EE Stable - Debuginfo $basearch
baseurl=$dockerurl/7/debug-$basearch/stable/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-stable-source]
name=Docker EE Stable - Sources
baseurl=$dockerurl/7/source/stable/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-test]
name=Docker EE Test - $basearch
baseurl=$dockerurl/7/$basearch/test/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-test-debuginfo]
name=Docker EE Test - Debuginfo $basearch
baseurl=$dockerurl/7/debug-$basearch/test/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg

[docker-ee-test-source]
name=Docker EE Test - Sources
baseurl=$dockerurl/7/source/test/
enabled=0
gpgcheck=1
gpgkey=$dockerurl/gpg
